# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# Logs
*.log

# Nested temp/duplicate directories
sdvs/

